
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
	<h1> <%= @message %> </h1>

	<p><%= link_to(t('mailers.company.create_admin_link_text'), "#{t('mailers.company.create_admin_link')}" %></p>

	<%= render 'company_details'%>
   </body>
</html>