
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
	<h1> <%= @message %> </h1>
    <p>
		Make a new company called <%= @company.name %>
	</p>
    <p>
		Thanks for playing!
	</p>
  </body>
</html>