/* --------------------------- 
Homepage card styling will be imported from /partials/home_cards.scss
--------------------------- */
@import 'partials/home_cards';
// Formtastic overrides
.home-jumbotron{
	background-color: #3B7AA3; 
	background-size:cover; 
	background-image:url(/images/backgrounds/bg.jpg); 
	min-height: 760px;
	h1{
		color:white; 
		text-align:center; 
		padding-top: 80px;
		font-weight: 200 !important;
	}
	h3{
		color:white;
		text-align:center; 
		font-size: 25px; 
		font-weight: 100 !important
	}
}
.categories-container{
	margin-top: -180px;
	margin-bottom: 100px;
}
// Input form
.input-lg {
	flex-grow:1;
	margin-right: 2px;
}
// Table
table.borderless tbody tr td {
	border: none;
}
// About section on homepage styling
.home-codex-jumbotron{
	background-color: #3B7AA3; 
	background-size:cover; 
	background-image:url(/images/backgrounds/codex.jpg);
	height: 660px;
}
.home-codex-container{
	a{
		color: $sls_orange !important;
	}
	h1{
		color:white;  
		padding-top: 90px;
		padding-bottom: 20px; 
		font-weight: 200 !important;
	}
	p{
		color:white;
		font-size: 25px;
		max-width: 440px;
	}
	.col-md-6{
		padding-left: 100px;
	}
}
// .about-image{
// 	background-image:url('/images/backgrounds/sls_1.jpg');
// 	height: 500px;
// 	background-size: cover;
// }
// Tags container on homepage styling
.home-tags-cloud-container{
	margin-top: 110px;
	padding-bottom: 40px;
	background-color: $gray !important;
	.col-md-6{
		h1{
			font-weight: 200 !important;
			color: $strong_gray;
			font-size: 63px;
		}
		p{
			font-size: 25px;
			margin-top: 30px;
			color: $strong_gray;
		}
	}
}
.tags-cloud{
	margin-top: 30px;
}
