// .statistics-jumbotron{
// 	background-color: #3B7AA3; 
// 	background-size:cover; 
// 	background-position: bottom center; 
// 	background-color: #000000;
// 	background-image:url(/images/backgrounds/sls_1_dark_stanford_law_school_codex_tech_legal.jpg); 
// 	min-height: 460px;
// 	h1{
// 		color:white; 
// 		text-align:center; 
// 		padding-top: 80px; 
// 		font-weight: 200 !important;
// 	}
// 	h3{
// 		color:white;
// 		text-align:center; 
// 		font-size: 25px; 
// 		font-weight: 100 !important
// 	}
// 	.container{
// 		margin-top: 20px;
// 	}
// }
.statistics-container{
	.col-md-2{
		text-align: center;
		p{
			font-size: 20px;
			font-weight: 600;
		}
		a{
			text-decoration: none;
		}
	}
	padding-top: 30px;
	.statbox{
		text-align: center;
	}
	.gray{
		color: grey;
	}
	.green{
		color: $sls_green;
	}
	.blue{
		color: $sls_blue;
	}
	.orange{
		color: $sls_orange; 
	}
	.red{
		color: $sls_red;
	}
	.large-number{
		font-size: 120px;
	}
}