<%= form_for :dump, url: {action: "import_csv"}, html: { multipart: true } do |f| %>
	Select a CSV File:
		<%= f.file_field :file %>
		
		<%= f.submit "Upload" %>

<p><%= link_to "Wiki page", "https://github.com/digitallawyer/legaltechlist/wiki/bulk_uploads" %> on CSV uploads. </p>

<%end%>
