<!DOCTYPE html>
<html lang="en">
	<link href="http://fonts.googleapis.com/css?family=Ubuntu:bold" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet" type="text/css">

<%= render 'static_pages/nav' %>

<div class="container" style="background-color: white">

<h2 style="font-family: Ubuntu">About Us</h2>
<p>[Insert Group Picture]</p>
<p style="font-family: Vollkorn; font-size: 18px">Legal Tech List is the official legal industry web portal that aggregates the latest data and information on all the legal technology startups in the U.S.  LTL is made by a group of legal technologists at Stanford Law School, who are hackers at heart and deeply believe in the powerful intersection between law and code.</p>
</div>

</html>