<!DOCTYPE html>
<html lang="en">
<head>
  <title>Legal Tech List</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link href="http://fonts.googleapis.com/css?family=Ubuntu:bold" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>

<%= render 'nav' %>

<div class="jumbotron" style="background:url(/images/blue_gradient.jpg);">
  <h1 class="text-center" style="color:white; margin-top:40px; ">Legal Tech List</h1>
  <h2 class="text-info text-center" style="color:white; margin-bottom:40px;">A list of legal technology companies.</h2>

<!--Search box in jumbotron-->

  <%= form_tag companies_path, :class => 'form-inline', method: :get do %>
  	<p class="text-center">
    	<%= text_field_tag :query, params[:query], class: "form-control input-lg" %>
		<%= submit_tag "Search", name: nil, class: "btn btn-warning btn-lg" %>
  	</p>
	<% end %>

</div>

<!-- <div class="container">
	<div class="col-md-4">
		<a href="#"><img src="images/E-Discovery_final.png"></a>
	</div>
	<div class="col-md-4">
		<a href="#"><img src="images/case_management.png"></a>
	</div>
	<div class="col-md-4">
		<a href="#"><img src="images/legal_research.png"></a>
	</div>
</div> -->

</body>
