<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>

<%= render 'nav' %>

<div class="jumbotron" style="background:url(images/blue.png); background-size: cover;">
  <h1 class="text-center" style="color:white;">legaltechlist</h1>
  <h2 class="text-info text-center" style="color:white; margin-bottom:40px;">A list of legal technology companies.</h2>

<!--Search box in jumbotron-->

  <%= form_tag companies_path, :class => 'form-inline', method: :get do %>
  	<p class="text-center">
    	<%= text_field_tag :query, params[:query], class: "form-control input-lg" %>
		<%= submit_tag "Search", name: nil, class: "btn btn-primary btn-lg" %>
  	</p>
	<% end %>

</div>

<div class="container">
	<div class="col-md-4">
		<h3>Category 1</h3>
		<p>Picture of Category 1</p>
	</div>
	<div class="col-md-4">
		<h3>Category 2</h3>
		<p>Picture of Category 2</p>
	</div>
	<div class="col-md-4">
		<h3>Category 3</h3>
		<p>Picture of Category 3</p>
	</div>
</div>

<!-- 
<form class="navbar-form navbar-left" role="search">
  <!--<div class="form-group">
    <input type="text" class="form-control" placeholder="Search">
  </div>
  <button type="submit" class="btn btn-default">Submit</button> -->
 <div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="..." alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">document management</h4>
    ...
  </div>
</div>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">trending now</div>

  <!-- Table -->
  <table class="table">
    1. casetext
  </table>
</div>
<img src="..." class="img-responsive" alt="Responsive image">

<div class="container">
	<button type="button" class="btn btn-info btn-block" style="background-color: SkyBlue;">Find a Job</button>
</div>
</body>
</html>
 -->