/* background gray */
/* very light */
/* About page styling */
/* line 2, app/assets/stylesheets/static/_about.scss */
.about-jumbotron {
  background-color: #3B7AA3;
  background-size: cover;
  background-position: bottom center;
  background-color: #000000;
  background-image: url(/images/backgrounds/sls_1_dark_stanford_law_school_codex_tech_legal.jpg);
  min-height: 460px;
}

/* line 9, app/assets/stylesheets/static/_about.scss */
.about-jumbotron h1 {
  color: white;
  text-align: center;
  padding-top: 80px;
  font-weight: 200 !important;
}

/* line 15, app/assets/stylesheets/static/_about.scss */
.about-jumbotron h3 {
  color: white;
  text-align: center;
  font-size: 25px;
  font-weight: 100 !important;
}

/* line 21, app/assets/stylesheets/static/_about.scss */
.about-jumbotron .container {
  margin-top: 20px;
}

/* line 26, app/assets/stylesheets/static/_about.scss */
.about-info-panel p {
  font-size: 18px;
  color: #1A1A1A;
}

/* LinkedIn icon in SLS styling */
/* line 32, app/assets/stylesheets/static/_about.scss */
.fa-linkedin-square {
  color: #16A0D6 !important;
}

/* line 35, app/assets/stylesheets/static/_about.scss */
.fa-linkedin-square:hover {
  color: #1A1A1A !important;
}

/* line 39, app/assets/stylesheets/static/_about.scss */
.contributors-panel {
  text-align: center;
}

/* line 42, app/assets/stylesheets/static/_about.scss */
.contributor-image {
  width: 170px;
  margin-top: 30px;
  margin-bottom: 20px;
}

/* --------------------------- 
Homepage card styling will be imported from /partials/home_cards.scss
--------------------------- */
/* line 3, app/assets/stylesheets/partials/_home_cards.scss */
.panel-default {
  border: 0px solid transparent;
  border-radius: 0px;
}

/* line 8, app/assets/stylesheets/partials/_home_cards.scss */
.breadcrumb {
  padding: 10px 0px !important;
  margin: 10px 0px !important;
}

/* line 12, app/assets/stylesheets/partials/_home_cards.scss */
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* line 18, app/assets/stylesheets/partials/_home_cards.scss */
.category-link {
  text-decoration: none !important;
}

/* line 21, app/assets/stylesheets/partials/_home_cards.scss */
p.category-title {
  color: white;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  height: 160px;
  line-height: 180px;
}

/* line 29, app/assets/stylesheets/partials/_home_cards.scss */
.see-companies-button {
  width: 1320px;
  height: 47px;
  border: 1px solid white;
  padding: 17px;
  color: white !important;
  cursor: pointer;
  text-decoration: none;
  background-color: none;
  transition: background-color 0.4s;
}

/* line 41, app/assets/stylesheets/partials/_home_cards.scss */
.box-shadow {
  box-shadow: 0px 0px 20px -4px;
  -webkit-box-shadow: 0px 0px 20px -5px;
  -moz-box-shadow: 0px 0px 20px -5px;
  -o-box-shadow: 0px 0px 20px -5px;
}

/* line 47, app/assets/stylesheets/partials/_home_cards.scss */
.category-card {
  flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  text-align: center;
  box-shadow: none;
  transition: box-shadow 0.2s;
  margin: 30px 35px 30px 0px;
  margin-bottom: 6px;
  padding-bottom: 70px;
}

@media screen and (min-width: 480px) {
  /* line 47, app/assets/stylesheets/partials/_home_cards.scss */
  .category-card {
    min-width: 340px;
    min-height: 180px;
  }
}

/* line 62, app/assets/stylesheets/partials/_home_cards.scss */
.category-card:hover {
  box-shadow: 0px 0px 5px 2px gray;
}

/* line 66, app/assets/stylesheets/partials/_home_cards.scss */
.category-card:hover .see-companies-button {
  background-color: white;
  text-decoration: none;
}

/* line 70, app/assets/stylesheets/partials/_home_cards.scss */
.category-card:hover .see-companies-button-1 {
  color: #16a0d6 !important;
}

/* line 73, app/assets/stylesheets/partials/_home_cards.scss */
.category-card:hover .see-companies-button-2 {
  color: #b30000 !important;
}

/* line 76, app/assets/stylesheets/partials/_home_cards.scss */
.category-card:hover .see-companies-button-3 {
  color: #e89c2e !important;
}

/* line 79, app/assets/stylesheets/partials/_home_cards.scss */
.category-card:hover .see-companies-button-4 {
  color: #82A27E !important;
}

/* line 82, app/assets/stylesheets/partials/_home_cards.scss */
.category-card:hover .see-companies-button-5 {
  color: #8bb314 !important;
}

/* line 85, app/assets/stylesheets/partials/_home_cards.scss */
.category-card:hover .see-companies-button-6 {
  color: #e8be2e !important;
}

/* line 88, app/assets/stylesheets/partials/_home_cards.scss */
.category-card:hover .see-companies-button-7 {
  color: #16a0d6 !important;
}

/* line 91, app/assets/stylesheets/partials/_home_cards.scss */
.category-card:hover .see-companies-button-8 {
  color: #b30000 !important;
}

/* line 96, app/assets/stylesheets/partials/_home_cards.scss */
.category-background-1 {
  background-color: #16A0D6;
}

/* line 99, app/assets/stylesheets/partials/_home_cards.scss */
.category-background-2 {
  background-color: #B30000;
}

/* line 102, app/assets/stylesheets/partials/_home_cards.scss */
.category-background-3 {
  background-color: #E89C2E;
}

/* line 105, app/assets/stylesheets/partials/_home_cards.scss */
.category-background-4 {
  background-color: #82A27E;
}

/* line 108, app/assets/stylesheets/partials/_home_cards.scss */
.category-background-5 {
  background-color: #8BB314;
}

/* line 111, app/assets/stylesheets/partials/_home_cards.scss */
.category-background-6 {
  background-color: #E8BE2E;
}

/* line 114, app/assets/stylesheets/partials/_home_cards.scss */
.category-background-7 {
  background-color: #16A0D6;
}

/* line 117, app/assets/stylesheets/partials/_home_cards.scss */
.category-background-8 {
  background-color: #B30000;
}

/* line 120, app/assets/stylesheets/partials/_home_cards.scss */
.category-background-9 {
  background-color: #E89C2E;
}

/* line 123, app/assets/stylesheets/partials/_home_cards.scss */
.category-background-10 {
  background-color: #82A27E;
}

/* line 126, app/assets/stylesheets/partials/_home_cards.scss */
.category-background-11 {
  background-color: #8BB314;
}

/* line 129, app/assets/stylesheets/partials/_home_cards.scss */
.category-background-12 {
  background-color: #E8BE2E;
}

/* --------------------------- */
/* line 6, app/assets/stylesheets/static/_home.scss */
.home-jumbotron {
  background-color: #3B7AA3;
  background-size: cover;
  background-image: url(/images/backgrounds/bg.jpg);
  min-height: 760px;
}

/* line 11, app/assets/stylesheets/static/_home.scss */
.home-jumbotron h1 {
  color: white;
  text-align: center;
  padding-top: 80px;
  font-weight: 200 !important;
}

/* line 17, app/assets/stylesheets/static/_home.scss */
.home-jumbotron h3 {
  color: white;
  text-align: center;
  font-size: 25px;
  font-weight: 100 !important;
}

/* line 24, app/assets/stylesheets/static/_home.scss */
.categories-container {
  margin-top: -180px;
  margin-bottom: 100px;
}

/* line 29, app/assets/stylesheets/static/_home.scss */
.input-lg {
  flex-grow: 1;
  margin-right: 2px;
}

/* line 34, app/assets/stylesheets/static/_home.scss */
table.borderless tbody tr td {
  border: none;
}

/* line 38, app/assets/stylesheets/static/_home.scss */
.home-codex-jumbotron {
  background-color: #3B7AA3;
  background-size: cover;
  background-image: url(/images/backgrounds/codex.jpg);
  height: 660px;
}

/* line 45, app/assets/stylesheets/static/_home.scss */
.home-codex-container a {
  color: #E89C2E !important;
}

/* line 48, app/assets/stylesheets/static/_home.scss */
.home-codex-container h1 {
  color: white;
  padding-top: 90px;
  padding-bottom: 20px;
  font-weight: 200 !important;
}

/* line 54, app/assets/stylesheets/static/_home.scss */
.home-codex-container p {
  color: white;
  font-size: 25px;
  max-width: 440px;
}

/* line 59, app/assets/stylesheets/static/_home.scss */
.home-codex-container .col-md-6 {
  padding-left: 100px;
}

/* line 69, app/assets/stylesheets/static/_home.scss */
.home-tags-cloud-container {
  margin-top: 110px;
  padding-bottom: 40px;
  background-color: #F2EFEA !important;
}

/* line 74, app/assets/stylesheets/static/_home.scss */
.home-tags-cloud-container .col-md-6 h1 {
  font-weight: 200 !important;
  color: #222222;
  font-size: 63px;
}

/* line 79, app/assets/stylesheets/static/_home.scss */
.home-tags-cloud-container .col-md-6 p {
  font-size: 25px;
  margin-top: 30px;
  color: #222222;
}

/* line 86, app/assets/stylesheets/static/_home.scss */
.tags-cloud {
  margin-top: 30px;
}

/* line 24, app/assets/stylesheets/static/_statistics.scss */
.statistics-container {
  padding-top: 30px;
}

/* line 25, app/assets/stylesheets/static/_statistics.scss */
.statistics-container .col-md-2 {
  text-align: center;
}

/* line 27, app/assets/stylesheets/static/_statistics.scss */
.statistics-container .col-md-2 p {
  font-size: 20px;
  font-weight: 600;
}

/* line 31, app/assets/stylesheets/static/_statistics.scss */
.statistics-container .col-md-2 a {
  text-decoration: none;
}

/* line 36, app/assets/stylesheets/static/_statistics.scss */
.statistics-container .statbox {
  text-align: center;
}

/* line 39, app/assets/stylesheets/static/_statistics.scss */
.statistics-container .gray {
  color: grey;
}

/* line 42, app/assets/stylesheets/static/_statistics.scss */
.statistics-container .green {
  color: #8BB314;
}

/* line 45, app/assets/stylesheets/static/_statistics.scss */
.statistics-container .blue {
  color: #16A0D6;
}

/* line 48, app/assets/stylesheets/static/_statistics.scss */
.statistics-container .orange {
  color: #E89C2E;
}

/* line 51, app/assets/stylesheets/static/_statistics.scss */
.statistics-container .red {
  color: #B30000;
}

/* line 54, app/assets/stylesheets/static/_statistics.scss */
.statistics-container .large-number {
  font-size: 120px;
}
