<h1>Suggest Corrections to Company</h1>
<div class="container-fluid">
	<div class="col-md-12">
		<br>
		<div class="panel panel-default lg-panel">
	  		<div class="panel-body">
<%= render 'form' %>

</div>
</div></div>
</div>
</body>