<%= render '/static_pages/nav' %>

<div class="container-fluid">
	<div class="col-md-12">
		<br>
		<div class="panel panel-default lg-panel">
	  		<div class="panel-body">
				<h4>Suggest an update to a company</h4>
				<hr>
				<div class="col-md-6" style="padding-left:0px;">
					<%= render 'form' %>
				</div>
			</div>
		</div>
	</div>
</div>