<div class="container company-new-container">
	<!-- <div class="col-md-12">
		<div class="panel panel-default lg-panel thank-you-panel">
				<p>Thank you for suggesting a new company!</p>
		</div>
	</div> -->
	<br>
	<div class="col-md-12">
		<div class="panel panel-default lg-panel">
	  		<div class="panel-body">
	  			<h4>Suggest a new legal technology company</h4>
					<% flash.each do |type, msg| %>
					  <div class="alert alert-info">
					    <%= msg %>
					  </div>
					<% end %>
	  			<hr>
					<%= render 'form' %>
				</div>
		</div>
	</div>
</div>

