<body>


<div class="container-fluid">
	<div class="col-md-12">
<h1>Suggest a New Company</h1>
		<div class="panel panel-default">
	  		<div class="panel-body">
<%= render 'form' %>

</div>
</div></div>
</div>
</body>