<%= render '/static_pages/nav' %>

<head>
  	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>

<div class="container-fluid">
	<div class="col-md-12">
		<br>
		<div class="panel panel-default">
	  		<div class="panel-body">
	  			<h3>Suggest a New Company</h3>
<%= render 'form' %>

</div>
</div></div>
</div>
</body>