<div class="container">
	<div class="col-md-12">
		<br>
		<div class="panel panel-default lg-panel box-shadow">
	  		<div class="panel-body">
	  			<h4>Suggest a new legal technology company</h4>
	  			<hr>
				<%= render 'form' %>

				</div>
		</div>
	</div>
</div>