@import 'variables';

.btn-sls-orange {
    background: $sls_orange !important;
    color: #ffffff !important;
    border-color: #d28e2c !important;
}
.btn-sls-orange:hover {
    background: #d28e2c !important;
    color: #ffffff !important;
    border-color: #d28e2c !important;
}
.btn-sls-orange-form{
	height: 50px !important;
	width: 100px !important;
	background: $sls_orange !important;
  color: white !important;
  border-color: $sls_orange !important;
}
.btn-sls-red-form{
	height: 50px !important;
	width: 100px !important;
	background: $sls_red !important;
  color: white !important;
  border-color: $sls_red !important;
  padding-top: 13px !important;
}