// Card Component

.panel-default {
	border: 0px solid transparent;
	border-radius: 0px;
}

.breadcrumb {
   padding: 10px 0px !important;
   margin: 10px 0px !important;
}
.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.category-link {
	text-decoration: none !important;
}
p.category-title {
		color: white;
		text-align: center;
		font-size: 22px;
		font-weight: 600;
		height: 160px;
		line-height: 180px;
}
.see-companies-button{
	width: 1320px;
	height: 47px;
	border: 1px solid white;
	padding: 17px;
	color: white !important;
	cursor: pointer;
	text-decoration: none;
	background-color: none;
	transition: background-color 0.4s;
}

.box-shadow {
	box-shadow: 0px 0px 20px -4px;
	-webkit-box-shadow: 0px 0px 20px -5px;
	-moz-box-shadow: 0px 0px 20px -5px;
	-o-box-shadow: 0px 0px 20px -5px;
}
.category-card {
	flex: 1;
	-webkit-flex: 1 1 auto;
  	-ms-flex: 1 1 auto;
  	text-align: center;
  	box-shadow: none;
    transition: box-shadow 0.2s;
	margin:30px 35px 30px 0px;	
	margin-bottom: 6px;
	padding-bottom: 70px;
	@media screen and (min-width: 480px) {
		min-width: 340px;
		min-height: 180px;
	}
}
.category-card:hover{
	-webkit-box-shadow: 0px 0px 5px 2px rgba(128,128,128,1);
	-moz-box-shadow: 0px 0px 5px 2px rgba(128,128,128,1);
	box-shadow: 0px 0px 5px 2px rgba(128,128,128,1);
	.see-companies-button{
		background-color: white;
		text-decoration: none;
	}
	.see-companies-button-1{
		color: #16a0d6 !important;
	}
	.see-companies-button-2{
		color: #b30000 !important;
	}
	.see-companies-button-3{
		color: #e89c2e !important;
	}
	.see-companies-button-4{
		color: #82A27E !important;
	}
	.see-companies-button-5{
		color: #8bb314 !important;
	}
	.see-companies-button-6{
		color: #e8be2e !important;
	}
	.see-companies-button-7{
		color: #16a0d6 !important;
	}
	.see-companies-button-8{
		color: #b30000 !important;
	}
}
// Category Backgrounds
.category-background-1 {
	background-color: $sls_blue;
}
.category-background-2 {
	background-color: $sls_red;
}
.category-background-3 {
	background-color: $sls_orange;
}
.category-background-4 {
	background-color: $moss_green;
}
.category-background-5 {
	background-color: $sls_green;
}
.category-background-6 {
	background-color: $sls_yellow;
}
.category-background-7 {
	background-color: $sls_blue;
}
.category-background-8 {
	background-color: $sls_red;
}
.category-background-9 {
	background-color: $sls_orange;
}
.category-background-10 {
	background-color: $moss_green;
}
.category-background-11 {
	background-color: $sls_green;
}
.category-background-12 {
	background-color: $sls_yellow;
}

/* --------------------------- */