@import 'variables';
.home-tags-cloud-container{
	.css1 {font-size: 1.1em;}
	.css2 {font-size: 1.9em;}
	.css3 {font-size: 2.2em;}
	.css4 {font-size: 2.8em;}
	.css5 {font-size: 2.2em;}
	.css6 {font-size: 2.0em;}
	.css7 {font-size: 2.2em;}

	.css1, .css2, .css3, .css4{
		color: $sls_red;
		font-weight: 350;
		margin-left: 5px;
		margin-bottom: 5px;
	}
	.css1:hover, .css2:hover, .css3:hover, .css4:hover{
		color: #700000;
		text-decoration: underline;
	}
}