$sls_red: #B30000;
$sls_blue: #16A0D6;
$sls_yellow: #E8BE2E;
$sls_orange: #E89C2E;
$sls_green: #8BB314;
$moss_green: #82A27E;
$gray: #F2EFEA; /* background gray */
$warm_gray: #E2E1DD; /* very light */
$strong_gray: #222222;
$mid_gray: #bebebe;
$sand: #E3D6B6;
$black_header: #000000;
$black_text: #1A1A1A;
