@import "bootstrap";
@import "font-awesome";

// Custom variables
$stanford-red: #8c1515;

// Custom styles
.btn-stanford {
  background-color: $stanford-red;
  border-color: $stanford-red;
  color: white;
  
  &:hover {
    background-color: darken($stanford-red, 10%);
    border-color: darken($stanford-red, 10%);
    color: white;
  }
}

// Remove formtastic markers
.formtastic .input {
    list-style: none;
}

.formtastic fieldset {
    list-style: none;
    padding-left: 0;
}

.formtastic legend {
    display: none;
}

.formtastic ol {
    list-style: none;
    padding-left: 0;
}

