// Place all the styles related to the Companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
	display: inline;
}

.e{
	margin: 6px -15px;
	padding: 6px 15px;
}

.e:hover{
	background-color:#D3D3D3;
}

