// Place all the styles related to the Companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variables';

.company-list-sidecontainer{
	h3{
		margin-left: 0px;
	}
	.tags-cloud{
		padding-bottom: 25px;
	}
}
.company-list-container{
	.btn-sls-orange{
		margin-top: 15px;
	}
	.list-item{
		//margin: 6px -15px;
		padding: 20px 15px;
		margin: 0 auto;
		// padding-bottom: 26px;
		border-top: 1px solid #eee;
		a {
			text-decoration: none;
			color: #1A1A1A;
		}
	}
	h3{
		margin-bottom: 35px;
	}
	.list-item:hover{
		border-radius: 3px;
		border: 1px solid $mid_gray;
		background-color:$gray;
		a {
			text-decoration: none;
		}
	}
	h3{
		font-weight: 400 !important;
		margin-left: 15px;
	}
	h4{
		color: $sls_red;
	}
	.company-list{
		a:hover{
			text-decoration: none;
		}
		a{
			color: #1A1A1A;
		}
	}
}
/* show single company */
.company-show-container{
	.breadcrumb{
		border: 1px solid $mid_gray;
		border-radius: 3px;
		font-size: 15px;
		background-color: white;
		color: black;
		padding-top: 22px !important;
		padding-left: 20px !important;
		padding-right: 20px !important;
		a{
			color: black !important;
			text-decoration: underline;
		}
		.btn{
			color: white !important;
			text-decoration: none;
			margin-top: -5px;
			margin-bottom: 3px;
		}
	}
	.panel-default{
		padding: 20px !important;
		h1{
			margin-top:0px;
		}
		.col-md-12{
			margin-left: -20px !important;
			left: 0 !important;
		}
		h4{
			font-weight: 300 !important;
		}
		.panel-footer{
			background-color: white;
			border: solid 1px $sls_orange;
			border-radius: 3px;
			span{
				color: black !important;
			}
			a{
				color: black !important;
				text-decoration: underline;
			}
		}
	}
}
.company-edit-container{
	.thank-you-panel{
		padding-left: 20px !important;
		padding-top: 18px;
		padding-bottom: 10px;
		margin-top: 20px;
		font-size: 15px;
		background-color: $sls_orange;
		border-radius: 0 !important;
		color: white;
		a{
			color: white !important;
			text-decoration: underline;
		}
	}
	margin-bottom: 300px;
}
.company-new-container{
	.thank-you-panel{
		padding-left: 20px !important;
		padding-top: 18px;
		padding-bottom: 10px;
		margin-top: 20px;
		font-size: 15px;
		background-color: $sls_orange;
		border-radius: 0 !important;
		color: white;
		a{
			color: white !important;
			text-decoration: underline;
		}
	}
	margin-bottom: 300px;
}

.companies_map, .companies_map svg {
  position: absolute;
}

.companies_map svg {
  width: 60px;
  height: 20px;
  padding-right: 100px;
  font: 10px sans-serif;
}

.companies_map circle {
  fill: brown;
  stroke: black;
  stroke-width: 1.5px;
}
