@media (min-width: 960px) and (max-width: 1200px){
	.flex{
		padding-left: 50px !important;
	}
	.home-codex-jumbotron{
		h1{
			padding-top: 40px !important;
		}
		.col-md-6{
			width: 500px;
			padding-left: 70px !important;
		}
	}
}
@media (min-width: 900px) and (max-width: 1040px){
	.flex{
		padding-left: 40px !important;
	}
	.home-codex-jumbotron{
		h1{
			padding-top: 90px !important;
		}
		.col-md-6{
			width: 550px;
			padding-left: 70px !important;
		}
	}
}
/* Everything above iPad */
@media (min-width: 771px){
	.flex{
		padding-left: 30px !important;
	}
	.mobile-row{
		display: none !important;
	}
	.desktop-row{
		padding-left: 80px;
		padding-right: 80px;
	}
}
/* Everything iPad or below */
@media (max-width: 780px){
	.flex{
		padding-left: 40px !important;
	}
	.home-codex-jumbotron{
		max-height: 400px !important;
		h1{
			padding-top: 20px !important;
			font-size: 40px !important;
		}
		p{
			font-size: 20px !important;
		}
		.col-md-6{
			width: 400px;
			padding-left: 50px !important;
		}
	}
	.home-tags-cloud-container{
		padding-bottom: 0px !important;
		margin-top: 20px !important;
		.about-image{
			display: none !important;
		}
		.tags-box{
			height: 500px;
			padding-top: 0px;
		}
	}
	.company-list-container{
		.btn-sls-orange{
			display: none !important;
		}
	}
}
@media (max-width: 770px){
	.home-jumbotron{
		.desktop-row{
			display: none !important;
		}
		.mobile-row{
			display: inline !important;
		}
		.submit-button-mobile-row{
			width: 100%;
			text-align: center;
			.btn{
				width: 150px !important;
			}
		}
	}
}
/* Everything below */
@media (max-width: 500px){
	.home-codex-jumbotron{
		max-height: 400px !important;
		h1{
			padding-top: 10px !important;
			font-size: 30px !important;
		}
		p{
			font-size: 20px !important;
		}
		.col-md-6{
			width: 350px;
			padding-left: 20px !important;
		}
	}
}
@media (max-width: 400px){
	.home-codex-jumbotron{
		max-height: 300px !important;
		h1{
			padding-top: 10px !important;
			font-size: 25px !important;
		}
		p{
			font-size: 15px !important;
		}
		.col-md-6{
			width: 300px;
			padding-left: 10px !important;
		}
	}
	.home-tags-cloud-container{
		padding-bottom: 50px !important;
	}
}