// Body

body {
	background-color: #f7f7f7 !important;
	padding-top: 50px; 
}

// Navigation

h1, h2, h3 {
	font-weight: 300 !important; 
}
.navbar-default {
    background-color: white !important;
    border-color: #E7E7E7;
}

// Typography



// Card Component

.lg-box-shadow__teasers {
	box-shadow: 0px 0px 12px -5px;
	-webkit-box-shadow: 0px 0px 12px -5px;
	-moz-box-shadow: 0px 0px 12px -5px;
	-o-box-shadow: 0px 0px 12px -5px;
}

.category-card {
	flex: 1;
	margin: 0px 10px;
	margin:5px 10px 5px 0px;	
	min-width: 32.5%;
	min-height: 200px;
	margin-bottom: 6px;
	box-shadow: 0px 0px 12px -5px;
	-webkit-box-shadow: 0px 0px 12px -5px;
	-moz-box-shadow: 0px 0px 12px -5px;
	-o-box-shadow: 0px 0px 12px -5px;
}

.category-title {
	background-color: white;
	padding: 20px;
	margin-top: 140px;
	a {
		color: black;
		font-size: 15px;
	}
}

.breadcrumb {
   padding: 10px 0px !important;
   margin: 0 !important;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

// Input form

.input-lg {
	flex-grow:1;
	margin-right: 2px;
}


.formtastic .stringish input {
  width:100% !important;
}

.formtastic .text textarea {
  width:100% !important;
}

.formtastic select {
  width:100% !important;
}

.formtastic legend {
  font-size: initial !important;
}

.label {
	color:#333 !important;
	width: 100% !important;
	padding-left: 0px !important;
	text-align: left !important;
}

.formtastic .actions {
	padding-left: 0px !important;
}

.formtastic .actions .btn {
	padding: 6px !important;
}


.formtastic .inline-errors {
	margin-left: 0px !important;
}

// Table

table.borderless tbody tr td {
	border: none;
}

// Iframe

iframe {
  width: 100%;
}

.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 51%;
}

.aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
}
.algolia-autocomplete {
  width: 100%;
}
.algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
  width: 100%;
}
.algolia-autocomplete .aa-hint {
  color: #999;
}
.algolia-autocomplete .aa-dropdown-menu {
  width: 100%;
  background-color: #fff;
  border: 1px solid #999;
  border-top: none;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  cursor: pointer;
  padding: 5px 4px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background-color: #B2D7FF;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  font-weight: bold;
  font-style: normal;
}