// Body

body {
	background-color: #f7f7f7 !important;
	padding-top: 50px; 
}

// Navigation

h1, h2, h3 {
	font-weight: 300 !important; 
}

// Typography

.navbar {
	margin-bottom: 0px !important;
}
.navbar-default {
	background-color: #1a1a1a !important;
}

.navbar-brand {
	color: white !important;
}

.navbar-nav > li > a {
	color: white !important;
}

.jumbotron {
	padding: 100px 0px  !important;
}

// Card Component

.lg-box-shadow__teasers {
	box-shadow: 0px 0px 12px -5px;
	-webkit-box-shadow: 0px 0px 12px -5px;
	-moz-box-shadow: 0px 0px 12px -5px;
	-o-box-shadow: 0px 0px 12px -5px;
}

.panel.panel-default.lg-panel {
	border-radius: 0px;
	border: none;
	margin-bottom: 6px;
	box-shadow: 0px 0px 12px -5px;
	-webkit-box-shadow: 0px 0px 12px -5px;
	-moz-box-shadow: 0px 0px 12px -5px;
	-o-box-shadow: 0px 0px 12px -5px;

}

.panel.panel-default.lg-panel.flex-panel {
	flex: 1;
	margin: 0px 10px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.flex {
	display: flex;
	justify-content: space-between;

}

// Input form

.input-lg {
	flex-grow:1;
	margin-right: 2px;
}


.formtastic .stringish input {
  width:100% !important;
}

.formtastic .text textarea {
  width:100% !important;
}

.formtastic select {
  width:100% !important;
}

.formtastic legend {
  font-size: initial !important;
}

.label {
	color:#333 !important;
	width: 100% !important;
	padding-left: 0px !important;
	text-align: left !important;
}

.formtastic .actions {
	padding-left: 0px !important;
}

.formtastic .actions .btn {
	padding: 6px !important;
}


.formtastic .inline-errors {
	margin-left: 0px !important;
}

// Table

table.borderless tbody tr td {
	border: none;
}

// Iframe

iframe {
  width: 100%;
}

.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 51%;
}

.aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
}
