@import 'variables';
@import 'partials/tags';
@import 'partials/buttons';

// Body
body {
	background-color: $gray !important;
	padding-top: 50px; 
	font-family: proxima-nova, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #1a1a1a;
}
#notice {
	padding: 14px;
  background-color: #8bb314;
  margin: 14px;
  color: white;
}
// Navigation
a.navbar-brand {
	color: white !important;
}
.navbar-brand{
	img{
		width: 45px; 
		margin-bottom: 10px;
	}
}
.navbar{ 
	.container{
		margin-left: 15px;
	}
}
.navbar-nav{
	.custom-menu{
		font-size: 21px;
		color:#fbfbfb;
		font-weight: 200;
	}
	.dropdown-toggle{
		font-size: 18px;
		color:$sls_orange !important;
		font-weight: 400 !important;
	}
	.dropdown-menu{
		height: 210px !important;
		font-size: 18px;
		line-height: 70px !important;
		width: 150px !important;
	}
	.dropdown-menu > li > a:hover{
		background-color: $sls_orange !important;
		background-image: none;
		color: white !important
	}
	.dropdown-menu > li > a{
		color: grey !important;
		font-weight: 400 !important;
		line-height: 45px;
		height: 50px;
	}
}

.inputs{
	.label{
		color:#000;
	}
}

/* Override for all panels in the the appliaction */

.panel{
	border: 1px solid $mid_gray;
	border-radius: 3px;
}

// STATIC Page design is located in static_pages.scss and imports from 'static' folder
.footer{
	min-height: 100px !important;
	background-color: #222 !important;
	padding-bottom: 20px;
	img{
		float: left;
		margin-right: 40px;
		height: 20px;
	}
	.col-md-3{
		padding-top: 40px;
	}
	.col-md-9{
		padding-top: 30px;
	}
}