<footer class="footer">
  <div class="container">
  	<div class="row">
	  	<div class="col-md-3">
	  	<img src="/images/logo/logo-white.png">
	 		</div>
	 		<div class="col-md-9">
	 			<p class="text-muted">The companies and services listed in this database are provided for informational purposes only and are not endorsed by CodeX, Stanford Law School, or Stanford University.</p>
	 		</div>
 		</div>
    
  </div>
</footer>