<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a data-no-turbolink='true' class="navbar-brand" href="/"><img src="/images/logo/short.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a class="custom-menu" target="_blank" href="https://law.stanford.edu/codex-the-stanford-center-for-legal-informatics/">CodeX</a></li>
        <li><a class="custom-menu" href="/companies"> / </a></li>
        <li class="dropdown">
          <a href="#" data-no-turbolink="true" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <% if current_page?('/') == true && current_page?('/companies') == false %>
              Overview
            <% elsif current_page?('/about') == true && current_page?('/companies') == false %>
              About
            <% elsif current_page?('/map') == true && current_page?('/companies') == false %>
              Worldmap
            <% elsif current_page?('/statistics') == true && current_page?('/companies') == false %>
              Statistics
            <% else %>
              Companies
            <% end %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <% if current_page?('/') == true && current_page?('/companies') == false %>
              <li><a data-no-turbolink='true' href="/companies">Companies</a></li>
              <li><a data-no-turbolink='true' href="/statistics">Statistics</a></li>
              <li><a data-no-turbolink='true' href="/map">Worldmap</a></li>
              <li><a data-no-turbolink='true' href="/about">About</a></li>
            <% elsif current_page?('/about') == true && current_page?('/companies') == false %>
              <li><a data-no-turbolink='true' href="/">Overview</a></li>
              <li><a data-no-turbolink='true' href="/companies">Companies</a></li>
              <li><a data-no-turbolink='true' href="/statistics">Statistics</a></li>
              <li><a data-no-turbolink='true' href="/map">Worldmap</a></li>
            <% elsif current_page?('/map') == true && current_page?('/companies') == false %>
              <li><a data-no-turbolink='true' href="/">Overview</a></li>
              <li><a data-no-turbolink='true' href="/companies">Companies</a></li>
              <li><a data-no-turbolink='true' href="/statistics">Statistics</a></li>
              <li><a data-no-turbolink='true' href="/about">About</a></li>
            <% elsif current_page?('/statistics') == true && current_page?('/companies') == false %>
              <li><a data-no-turbolink='true' href="/">Overview</a></li>
              <li><a data-no-turbolink='true' href="/companies">Companies</a></li>
              <li><a data-no-turbolink='true' href="/map">Worldmap</a></li>
              <li><a data-no-turbolink='true' href="/about">About</a></li>
            <% elsif !current_page?('/companies') && (current_page?(controller: 'companies', action: 'new') || current_page?(controller: 'companies', action: 'new'))%>
              <li><a data-no-turbolink='true' href="/">Overview</a></li>
              <li><a data-no-turbolink='true' href="/companies">Companies</a></li>
              <li><a data-no-turbolink='true' href="/map">Worldmap</a></li>
              <li><a data-no-turbolink='true' href="/about">About</a></li>
              <!--Overwrite navabar height only in this one case-->
              <%= javascript_tag do %>
                $('.navbar .dropdown-menu').attr('style','height: 205px !important')
              <% end %>
            <% else %>
              <li><a data-no-turbolink='true' href="/">Overview</a></li>
              <li><a data-no-turbolink='true' href="/statistics">Statistics</a></li>
              <li><a data-no-turbolink='true' href="/map">Worldmap</a></li>
              <li><a data-no-turbolink='true' href="/about">About</a></li>
            <% end %>
          </ul>
        </li>        
        <% if controller.controller_name != "static_pages" -%>
          <%= form_tag companies_path, :class => "navbar-form navbar-left", :role => "search", method: :get do %>
            <div class="form-group">
              <%= text_field_tag :query, params[:query], :class => "form-control" %>
              <%= submit_tag "Search", name: nil, class: "btn btn-sls-orange" %>
            </div>
          <% end %>
        <% end %>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <li><a target="blank" href="/feed?format=rss"><i class="fa fa-rss" aria-hidden="true"></i> RSS Feed</a></li>
        <li><a target="blank" href="https://twitter.com/codexstanford"><i class="fa fa-twitter" aria-hidden="true"></i> CodeX on Twitter</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>